:root{
    --background:#F5E8B7;
    --foreground:#ff9e54;
}
.dark-theme{
    --background:#ff9e54;
    --foreground:#F5E8B7;
}

*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    color:white;
    font-family: 'Josefin Slab', serif;
}
* ::selection{
    background: rgb(89, 212, 89);
    color:white;
}
body{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background:radial-gradient(circle farthest-corner  at top left, var(--background) ,#fffdf5);
    ;

}

#tempCalc{
    background: var(--foreground);
    height:18.75rem;
    width:43.75rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:1.875rem;
    padding-bottom:0.625rem;
    border-radius:0.5rem;
    box-shadow:4px 4px 10px rgba(0, 0, 0, 0.518);




}
#tempCalc h4{
    text-shadow:3px 3px 5px #6e6e6e;
}

.input{
    display:inline-block;
    color:black;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


#temp{

    width:6rem;
    height:2.3rem;
    padding-left:0.5rem;
    padding-right:1.25rem;
    border:0;
    border-radius:0.25rem;
    font-size:1rem;
}


#temp_diff{
    font-size:1rem;
    padding:0.5rem 0.625rem 0.625rem 0.5rem;
    border:0;
    border-radius:0.25rem;
    font-size:1rem;
}

#btn{
    font-size:1rem;
    padding:0.625rem;
    border:0;
    background: #87c1ab;
    margin-top:1.875rem;
    cursor:pointer;
    border-radius:0.25rem;
    box-shadow:1px 1px 5px rgb(99, 96, 96);
}
#btn:hover{
    background: #699785;
}
#btn:active{
    background: #4f7164;
    box-shadow:0 0 0 ;
}

#result_box{

    text-align:center;
    height:2.5rem;
    padding:0;
    margin-top:1.25rem;  
}

form div{
    margin-top:1.25rem;
}

@media (max-width:790px){
    html{
        font-size:90%;
    }
}
@media (max-width:680px){
    html{
        font-size:80%;
    }
}
@media (max-width:590px){
    html{
        font-size:70%;
    }
}
@media (max-width:520px){
    html{
        font-size:60%;
    }
}

@media (max-width:450px){
    html{
        font-size:50%;
    }
}
@media (max-width:380px){
    html{
        font-size:40%;
    }
}

@media (max-width:300px){
    html{
        font-size:30%;
    }
}

